
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
  background-image: url('../assets/images/fondo.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
}


.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.overlay {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4); 
  z-index: 150; 
  backdrop-filter: blur(2px); 
}

.overlay.mostrar {
  display: block !important;
  opacity: 1 !important;
  visibility: visible !important;
}


.btn {
  background-color: #87CEEB;
  border: 2px solid #3498db;
  border-radius: 12px;
  padding: 15px 30px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  user-select: none;
}


.btn:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}


.btn:active {
  transform: scale(0.95);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}


.eti-musica {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
  font-size: 16px;
  background-color: rgba(0,0,0,0.3);
  padding: 5px 10px;
  border-radius: 8px;
  user-select: none;
}
.eti-vers {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #fff;
  font-size: 16px;
  background-color: rgba(0,0,0,0.3);
  padding: 5px 10px;
  border-radius: 8px;
  user-select: none;
}

#logo-central {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    margin-top: 10px;        
    margin-left: 50%;            
}

#logo-img {
    max-width: 250px;      
    height: auto;
    filter: drop-shadow(0 4px 6px rgba(0,0,0,0.1)); 
}

.menu-contextual {
  position: absolute;
  display: none;
  background-color: #87CEEB;
  border: 2px solid #3498db;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  z-index: 250;
}
.menu-contextual.visible {
    display: block !important;
}

.btn-context{
  background: none;
  border: none;
  padding: 2px;
  display: block;
  width: 100%;
  text-align: center;
  font-size:18px;
  color: white;
  


}
.btn-context:hover {
  background-color: #6db0ca;
  
  cursor: pointer;
  border-radius: 6px;
}

.btn-context:active {
  transform: scale(0.95);
}

#modal_cambiar_nombre {
  
  
  background-color: rgba(247, 208, 177, 0.753);
  padding: 20px;
  border-radius: 15px;
  z-index: 300; 
  flex-direction: column;
  gap: 15px;
}

.ventana-interna {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  display: none; 
  z-index: 100;
}


.ventana-interna.mostrar {
  display: flex !important;
  transform: translate(-50%, -50%) scale(1) !important;
  opacity: 1 !important;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

#modal_alerta {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0); 
  opacity: 0;
  background-color: rgba(247, 208, 177, 0.753);
  padding: 20px;
  border-radius: 15px;
  z-index: 300; 
  transition: transform 0.3s ease, opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.ventana-interna-decorada {
  background: linear-gradient(to bottom, #eaf4ffbe, #ddf0ffdc);
  border: 2px solid #3498db;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

#modal_alerta {
  width: 10%;
  height: 13%;

}

.ventana-sobre-overlay {
  position: fixed !important;
  z-index: 300 !important;  
}

.agrupador{

  display: flex;         
  flex-direction: row;   
  align-items: center;   
  gap: 15px;              
  width: 100%;            
}







