#libro_abierto {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;       
  height: 100vh;
  background: rgba(0,0,0,0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#lectorContenido {
  width: 80%;
  height: 85%;
  background: #fdf6e3;
  border-radius: 10px;
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

#visorEPUB {
  flex: 1 1 auto;
  width: 100%;        
  height: 100%;       
  overflow: auto;
  min-height: 500px;  
}

/* Botón cerrar */
#cerrarLector {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 8px 15px;
  background: #87CEEB;
  border: 2px solid #3498db;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  z-index: 10000;
}

#cerrarLector:hover {
  transform:scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#cerrarLector:active {
  transform:scale(0.95);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}



/* Estilos de la Modal de Transición */
.modal-transicion {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgba(0, 0, 0, 0.8); 
  backdrop-filter: blur(0px);
  display: none; 
  justify-content: center;
  align-items: center;
  z-index: 4000;
  transition: backdrop-filter 0.5s;
}

.modal-transicion.activo {
  display: flex;
  backdrop-filter: blur(10px);
}

.libro-contenedor {
  width: 550px; 
  height: 700px; 
  position: relative;
  background: #fdf6e3; 
  overflow: visible;
  transition: width 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  perspective: 2000px; 
}


.libro-contenedor.abierto {
  width: 1100px; /* Aqui se establece el ancho cuando esta abierto el libro (debe ser el doble que cuando esta cerrado para tener las dos páginas) */
}

.tapa-frontal {
  position: absolute;
  top: 0;
  left: 0;
  width: 550px; /* FIJO: Debe ser igual al ancho cerrado para evitar el zoom */
  height: 100%;
  z-index: 10;
  background-size: 100% 100%;
  background-position: center;
  transform-origin: left;
  transition: transform 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  box-shadow: 5px 0 15px rgba(0,0,0,0.5);
  backface-visibility: hidden; 
}

.libro-contenedor.abierto .tapa-frontal {
  transform: rotateY(-160deg);
}

.interior-libro {
  position: absolute;
  right: 0;
  width: 550px; 
  height: 100%;
  background: #fdf6e3; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: inset 10px 0 20px rgba(0,0,0,0.1); 
  border-radius: 0 5px 5px 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}

/* interior del libro cuando se esta abriendo */
.libro-contenedor.abierto .interior-libro {
  opacity: 1;
}




