/* ===============================
   VENTANA MODAL: OPCIONES
   =============================== */
#ventanaOpciones {
  width: 40%;
  background: linear-gradient(to bottom, #ddf0ffdc, #f1ae77be);
  height: 50%;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  padding: 20px;
  gap: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}






#panel_izq_opciones {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  background: linear-gradient(
  to bottom, 
  rgba(255, 255, 255, 0.5),   
  rgba(115, 227, 197, 0.85)   
);
  width: 30%;
  height: 100%;
  border-radius: 15px;
  border: 1px solid #3498db;
  gap: 20px;
}

#panel_der_opciones {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 20%;
  background-color: transparent;
  width: 100%;
  border-radius: 15px;
  
}

.seccion_opciones {
  display: none;
}

.seccion_opciones.mostrar{
  display: block;

}

.btn_seccion {
  background-color: #73e3c5;
  width: 100px;
  height: 40px;
  border-radius: 6px;
  border: 2px solid #27c79c;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  color: white;
  user-select: none;
}

.btn_seccion:hover {
  background-color: #48dab3;
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.btn_seccion:active {

  transform: scale(0.95);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}



#volumen {
  
  width: 30%;
  display: block;
}

#volumen_label {
 
  font-size: 1.2em;
  color: #333;
}

#label_opciones {
  user-select: none;
}

#btnVolver {
  position: absolute;
  top: 3%;
  right: 3%;
  border-radius: 12px;
  padding: 10px 20px;
  background-color: #f1ae77;
  border: 2px solid #e47317;
  color: #fff;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#btnVolver:hover {
  background-color: #eb9046;
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#btnVolver:active {
  transform: scale(0.95);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}


